## N-grams

**Author: Abhishek Dey**

### Defination:

Group of n-words together.

Ex: data = ["I love NLP"]

* **Uni-gram (n=1) :** Single words ['I', 'love', 'NLP']

* **Bi-gram  (n=2) :** Sequences of two consecutive words ['I love', 'love NLP']

* **Tri-gram (n=3) :** Sequences of three consecutive words ['I love NLP']

### Import Libraries

In [20]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

### Data

In [21]:
data = ["I love NLP"]

### Function to represent text to vector with n-gram combinations

In [22]:
def text_to_vec(text, ngram):

    count_vec = CountVectorizer(token_pattern=r"(?u)\b\w+\b", ngram_range=ngram)
    vectors = count_vec.fit_transform(data)
    vectors = vectors.toarray()
    features = count_vec.get_feature_names_out()
    df=pd.DataFrame(vectors,columns=features)
    
    return df

### Unigrams only (default)

In [23]:
text_to_vec(data,(1,1))

   i  love  nlp
0  1     1    1

### Unigrams + Bigrams

In [24]:
text_to_vec(data,(1,2))

   i  i love  love  love nlp  nlp
0  1       1     1         1    1

### Brigrams + Trigrams

In [25]:
text_to_vec(data,(2,3))

   i love  i love nlp  love nlp
0       1           1         1

### Unigrams + Bigrams + Trigrams

In [26]:
text_to_vec(data,(1,3))

   i  i love  i love nlp  love  love nlp  nlp
0  1       1           1     1         1    1